<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}">
</head>

<body>
  <div class="header-div">
    <img style="vertical-align:middle" src="{{url_for("static", filename="ga.png")}}">
    <span class="title"> Dirty South Rona Stats </span>
  </div>
  <div class="full-width">
    <div class="header-tested"> Tested Loading...</div>
    <div class="header-positive"> Positive Loading...</div>
    <div class="header-negative"> Negative Loading...</div>
    <div class="header-death"> Deaths Loading...</div>
  </div>

  <div class="plotting-div" id="plotting_div"></div>
  <script src="https://d3js.org/topojson.v3.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

<script>
const pop_ga = 10617423,
      pop_us = 331002651;

var vis_data =  JSON.parse('{{ vis_data | tojson }}');
var topo_json =  JSON.parse('{{ topo_json | tojson }}');
var county_data =  JSON.parse('{{ county_json | tojson }}');

var datetime_to_str = d3.timeFormat("%m-%d");

// Construct a map of countyID to dataset
county_map = {}
county_data.forEach((county, i) => {
  county_map[String(county.countyFIPS)] = county;
});
// Set the most recent date
var cur_date = "4/20/20";

// Get dates in d3 time format for plotting slider
let dates = Object.keys(county_map[-1] ).filter((d) => d.includes('/')).map((d) => d3.timeParse("%m/%e/%y")(d));
// extract max positives
let max_positive = d3.max(Object.keys( county_map[-1] ).map((key) => {
  return (key === "State" || key === "County Name" || key === "stateFIPS") ? -1000 : county_map[-1][key];
}));

// Turn date strings into dates
let locations = ["us", "ga"];
locations.forEach( function(location, i){
  vis_data[location].forEach( function(d, i){
    Object.keys(d).forEach(function(key) {
      if (key == "date"){
        d.date = d3.timeParse("%Y%m%d")(d.date);
      } else {
        // This is done to convert NaN"s from a str to JS numeric NaN
        d[key] = +d[key]
      }
    });
  });
});

// console.log(vis_data);
// console.log(topo_json);
console.log(county_map);


// set the dimensions and margins of the graph
var margin = {top: 20, right:100, bottom: 40, left: 60},
    width = 900 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;


// Colors for plots
let colors = ["#a6cee3", "#1f78b4", "#b2df8a", "#33a02c", "#c74c4c", "#ff9174"];
// Color scale for coutnies
var county_colors = d3.scaleSequential()
  .domain([0, max_positive])
  .interpolator(d3.interpolateViridis);



function draw_series_plot(series, append_div, height, width, margin){
  // append the svg object to the body of the page
  var parent_div = undefined;
  if (append_div === undefined){
    parent_div = d3.select("#plotting_div")
      .append("div")
        .attr("class", "plot-container")
  } else {
    parent_div = append_div
  }

  var svg =  parent_div.append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  // title
  svg.append("text")
    .attr("class", "title-text")
    .attr("x", 12)
    .attr("y", 0)
    .attr("text-anchor", "left")
    .text(series.title);

  // x format time scale with dates from US which has the earliest cases overall
  var x_scale = d3.scaleTime()
    .domain(d3.extent(vis_data["us"], (d) => d.date))
    .range([ 0, width ]);

  // x axis
  var x_axis = d3.axisBottom(x_scale)
                 .tickFormat(d3.timeFormat("%m-%d"));

  svg.append("g")
    .attr("class", "axis-light")
    .attr("transform", "translate(0," + (height-margin.top) + ")")
    .call(x_axis)
    .selectAll("text")
      .style("text-anchor", "end")
      .attr("class", "axis-text")
      .attr("dx", "-.8em")
      .attr("dy", ".15em")
      .attr("transform", "rotate(-35)");


  // Y values Get max across all series, ooof ugly
  let y_max = Math.max(...series.series.map((ser) => {
    return  d3.max( ser.values, (d) => isNaN(d.value) ? -1 : +d.value );
  }));

  // Add Y axis
  var y_scale = d3.scaleLinear()
    .domain([0, y_max])
    .range([ height-margin.top, 0 ]);

  var y_axis = d3.axisLeft()
    .scale(y_scale)
    .ticks(10, "~s");

  var y_axis_g = svg.append("g")
    .attr("class", "axis-light y")
    .call(y_axis)

  y_axis_g.selectAll("text")
    .attr("class", "axis-text-vert");

  y_axis_g.on("click", function() {
    if (series.log_y) {
      y_scale = d3.scaleLinear()
        .domain([0, y_max])
        .range([ height-margin.top, 0 ]);
      series.log_y = false;
    } else {
      y_scale = d3.scaleLog()
        .domain([1, y_max])
        .range([ height-margin.top, 1 ])
      series.log_y = true;
    }

    // Reset scale
    y_axis.scale(y_scale)
      .ticks(6, "~s")
    y_axis_g
     	.transition()
        .duration(500)
     	.call(y_axis)
      .selectAll("text")
        .attr("class", "axis-text");

    // Redraw our series
    svg.selectAll(".plot-line")
      .transition()
      .duration(500)
      .attr("d", (d) => line(d.values));


    svg.selectAll(".plot-text")
      .transition()
      .duration(500)
      .attr("transform", (d) =>  "translate(" + x_scale(d.value.date) + "," + y_scale(d.value.value) + ")");
  });


  // Begin drawing content
  var line = d3.line()
    // .curve(d3.curveBasis)
    .defined(d => !isNaN(d.value) && d.value > 0  )
    .x( (d) => x_scale(d.date))
    .y( (d) =>  y_scale(d.value))

  var ser = svg.selectAll(".city")
    .data(series.series)
    .enter()
    .append("g")
      .attr("class", "series");

  ser.append("path")
    .attr("class", "plot-line line")
    .attr("fill", "none")
    .attr("stroke", (d) => colors[d.color])
    .attr("stroke-width", 1.5)
    .attr("stroke-dasharray", (d) => (d["stroke-dasharray"] !== undefined) ? d["stroke-dasharray"] : "solid" )
    .attr("opacity", (d) => (d["opacity"] !== undefined) ? d["opacity"] : 1 )
    .attr("d", (d) => line(d.values))

  ser.append("text")
    .datum((d) => {
      return { name: d.name,
               value: d.values[0],
               color: d.color };
    })
    .attr("class", "plot-text")
    .attr("transform", (d) =>  "translate(" + (x_scale(d.value.date)+3) + "," + y_scale(d.value.value) + ")")
    .attr("x", 3)
    .attr("dy", ".35em")
    .attr("fill",(d) => colors[d.color])
    .text((d) => d.name );

  /////////////////////////// Legend
  // Draw the legend
  let legend_pos = [20, 20];
  let legend_y_off = 20;
  var legend = svg.selectAll(".legend")
    .data(series.series)
      .enter()
      .append("g")
      .attr("class", "legend");

  legend.append("circle")
    .attr("cx", legend_pos[0])
    .attr("cy", (d, i)=> legend_pos[1]+legend_y_off*i-2)
    .attr("r", 6)
    .style("fill", (d) => (d["stroke-dasharray"] !== undefined) ? "none" :  colors[d.color] )
    .attr("stroke", (d) => colors[d.color]);

  legend.append("text")
    .attr("x", legend_pos[0]+15)
    .attr("y", (d, i) => legend_pos[1]+legend_y_off*i )
    .attr("alignment-baseline","middle")
    .text((d) => d.desc );

  /////////////////////////// Mouse Hovers
  // Mouse hover lines and events
  var Tooltip = svg.selectAll(".tooltip")
    .data(series.series)
    .enter()
    .append("g")
    .style("opacity", 0)
    .attr("class", "tooltip")

    Tooltip.append("circle")
      .attr("cx", 0)
      .attr("cy", 0)
      .attr("r", 5)
      .attr("fill", "none")
      .attr("stroke-width", 1)
      .attr("stroke", (d) => colors[d.color]);

    Tooltip.append("rect")
      .attr("width", 60)
      .attr("height", 24)
      .attr("fill", "#241C15")
      .attr("opacity", 0.7)
      .attr("transform", "translate(17,-12)")

    Tooltip.append("line")
      .attr("x1", 6)
      .attr("y1", 0)
      .attr("x2", 16)
      .attr("y2", 0)
      .attr("stroke", (d) => colors[d.color]);

    Tooltip.append("text")
      .attr("transform", "translate(20,5)")
      .attr("fill", (d) => colors[d.color])
      .text("1887")


    svg.append("rect")
      .attr("class", "tooltip-date-rect")
      .attr("width", 50)
      .attr("height", 16)
      .style("opacity", 0)
      .attr("fill", "#241C15");

    svg.append("text")
      .attr("class", "tooltip-date axis-text")
      .attr("dx", "-.8em")
      .attr("dy", ".15em")
      .attr("text-anchor", "end")
      .style("opacity", 0)
      .text("Loading");

  var mouseover = (d) => {
    Tooltip
      .style("opacity", 1);
    svg.select(".tooltip-date-rect")
      .style("opacity", 1);
    svg.select(".tooltip-date")
      .style("opacity", 1);
  }

  var mousemove = (d,i) => {
    // console.log(d);
    let left_datum = d[0];
    // Hide NaN values to stop errors in transform
    var y_val = 0;
    Tooltip
      .attr("transform", (ser) => {
        y_val = y_scale(ser.values[i].value);
        if (!isNaN(ser.values[i].value) &&  !isNaN(y_val)) {
          return "translate(" +x_scale(left_datum.date)+", "+y_val+")";
        } else {
          return "translate(" +x_scale(left_datum.date)+", 0)";
        }
      })
      .style("opacity", (ser) => (isNaN(ser.values[i].value) || isNaN(y_scale(ser.values[i].value))) ? 0.0 : 1.0);
    // Set hover label
    Tooltip.select("text")
      .text((ser) => ser.values[i].value.toFixed(0));
    // Get the hover label width to change the card behind it
    var bboxes = Tooltip.selectAll("text").nodes().map((nod) => nod.getBBox());
    Tooltip.select("rect")
      .attr("width", (ser, i) => bboxes[i].width+6);

    svg.select(".tooltip-date-rect")
      .attr("transform", "translate("+(x_scale(left_datum.date)-50)+","+(height-margin.top+33)+") rotate(-35)");
    svg.select(".tooltip-date")
      .attr("transform", "translate("+(x_scale(left_datum.date)+5)+","+(height-margin.top+8)+") rotate(-35)")
      .text(datetime_to_str(d[0].date));
  }

  var mouseout = (d) => {
    Tooltip
      .style("opacity", 0)
    svg.select(".tooltip-date-rect")
      .style("opacity", 0);
    svg.select(".tooltip-date")
      .style("opacity", 0);
  }

  svg.append("g")
    .attr("fill", "none")
    .attr("pointer-events", "all")
  .selectAll("rect")
  .data(d3.pairs(series.series[0].values))
  .join("rect")
    .attr("x", ([a, b]) => x_scale(a.date))
    .attr("height", (d) => height )
    .attr("width", ([a, b]) => x_scale(a.date) - x_scale(b.date))
    .on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseout", mouseout);

}


function draw_header(vis_data) {
  let ga_test = vis_data["ga"][0]["tested"];
  let ga_test_per = (ga_test / pop_ga * 100).toFixed(3)
  d3.select(".header-tested")
  .text("Tested " + format_number_commas(ga_test)  + " (" + ga_test_per +"%)" );
  let ga_pos = vis_data["ga"][0]["positive"];
  let ga_pos_per = (ga_pos / pop_ga * 100).toFixed(3)
  d3.select(".header-positive")
    .text("Positive " + format_number_commas(ga_pos)  + " (" + ga_pos_per +"%)" );
  let ga_neg = vis_data["ga"][0]["negative"];
  let ga_neg_per = (ga_neg / pop_ga * 100).toFixed(3)
  d3.select(".header-negative")
    .text("Negative " + format_number_commas(ga_neg)  + " (" + ga_neg_per +"%)" );
  let ga_death = vis_data["ga"][0]["death"];
  let ga_death_per = (ga_death / pop_ga * 100).toFixed(3)
  d3.select(".header-death")
    .text("Dead " + format_number_commas(ga_death)  + " (" + ga_death_per +"%)" );
}


function format_number_commas(x) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}


function draw_control_plot(series, parent_div, height, width, margin){
  // append the svg object to the body of the page
  var svg =  parent_div.append("svg")
      .attr("class", "centered-svg")
      .style("cursor", "pointer")
      .attr("width", width + 3*margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  // x format time scale with dates from US which has the earliest cases overall
  var x_scale = d3.scaleTime()
    .domain(d3.extent(vis_data["us"], (d) => d.date))
    .range([ 0, width ]);

  // x axis
  var x_axis = d3.axisBottom(x_scale)
                 .tickFormat(d3.timeFormat("%m-%d"));

  svg.append("g")
    .attr("class", "axis-light")
    .attr("transform", "translate(0," + (height-margin.top) + ")")
    .call(x_axis)
    .selectAll("text")
      .style("text-anchor", "end")
      .attr("class", "axis-text")
      .attr("dx", "-.8em")
      .attr("dy", ".15em")
      .attr("transform", "rotate(-35)");


  // Y values Get max across all series, ooof ugly
  let y_max = Math.max(...series.series.map((ser) => {
    return  d3.max( ser.values, (d) => isNaN(d.value) ? -1 : +d.value );
  }));

  // Add Y axis
  var y_scale = d3.scaleLinear()
    .domain([0, y_max])
    .range([ height-margin.top, 0 ]);

  var y_axis = d3.axisLeft()
    .scale(y_scale)
    .ticks(2, "~s");

  var y_axis_g = svg.append("g")
    .attr("class", "axis-light")
    .call(y_axis)

  y_axis_g.selectAll("text")
    .style("opacity", 0);

  // Begin drawing content
  var line = d3.line()
    // .curve(d3.curveBasis)
    .defined(d => !isNaN(d.value) && d.value > 0  )
    .x( (d) => x_scale(d.date))
    .y( (d) =>  y_scale(d.value))

  var ser = svg.selectAll(".city")
    .data(series.series)
    .enter()
    .append("g")
      .attr("class", "series");

  ser.append("path")
    .attr("class", "plot-line line")
    .attr("fill", "none")
    .attr("stroke", (d) => colors[d.color])
    .attr("stroke-width", 1.5)
    .attr("stroke-dasharray", (d) => (d["stroke-dasharray"] !== undefined) ? d["stroke-dasharray"] : "solid" )
    .attr("opacity", (d) => (d["opacity"] !== undefined) ? d["opacity"] : 1 )
    .attr("d", (d) => line(d.values))

  ser.append("text")
    .datum((d) => {
      return { name: d.name,
               value: d.values[0],
               color: d.color };
    })
    .attr("class", "plot-text")
    .attr("transform", (d) =>  "translate(" + (x_scale(d.value.date)+3) + "," + y_scale(d.value.value) + ")")
    .attr("x", 3)
    .attr("dy", ".35em")
    .attr("fill",(d) => colors[d.color])
    .text((d) => d.name );


  /////////////////////////// Mouse Hovers
  // Mouse hover lines and events
  var tooltip = svg.selectAll(".tooltip")
    .data(series.series)
    .enter()
    .append("g")
    // .style("opacity", 0)
    .attr("class", "tooltip")

    tooltip.append("circle")
      .attr("cx", 0)
      .attr("cy", 0)
      .attr("r", 5)
      .attr("fill", "none")
      .attr("stroke-width", 1)
      .attr("stroke", (d) => colors[d.color]);

    tooltip.append("rect")
      .attr("width", 60)
      .attr("height", 24)
      .attr("fill", "#241C15")
      .attr("opacity", 0.7)
      .attr("transform", "translate(17,-12)")

    tooltip.append("line")
      .attr("x1", 6)
      .attr("y1", 0)
      .attr("x2", 16)
      .attr("y2", 0)
      .attr("stroke", (d) => colors[d.color]);

    tooltip.append("text")
      .attr("transform", "translate(20,5)")
      .attr("fill", (d) => colors[d.color])
      .text("1887")

    svg.append("rect")
      .attr("class", "tooltip-date-rect")
      .attr("width", 50)
      .attr("height", 16)
      .style("opacity", 0)
      .attr("fill", "#241C15");

    svg.append("line")
      .attr("class", "tooltip-vbar")
      .attr("x1", 0)
      .attr("y1", 0)
      .attr("x2", 0)
      .attr("y2", 90)
      .attr("stroke-width", 1)
      .attr("stroke", colors[5]);

    svg.append("text")
      .attr("class", "tooltip-date axis-text")
      .attr("dx", "-.8em")
      .attr("dy", ".15em")
      .style("fill", colors[5])
      .attr("text-anchor", "end")
      .style("opacity", 1)
      .text("04/20");

    // Move it to 4/20
    let starting_date = vis_data.ga[vis_data.ga.length-48].date,
        y_val = y_scale(vis_data.ga[vis_data.ga.length-48].positive);
    tooltip.attr("transform",  "translate(" +x_scale(starting_date)+", "+y_val+")");
    svg.select(".tooltip-vbar")
      .attr("transform", "translate("+(x_scale(starting_date))+","+0+")");
    svg.select(".tooltip-date-rect")
      .attr("transform", "translate("+(x_scale(starting_date)-50)+","+(height-margin.top+33)+") rotate(-35)")
      .style("opacity", 1);
    svg.select(".tooltip-date")
      .attr("transform", "translate("+(x_scale(starting_date)+5)+","+(height-margin.top+8)+") rotate(-35)")



    // Hover lines
    svg.append("line")
      .attr("class", "tooltip-prev-vbar")
      .attr("x1", 0)
      .attr("y1", 0)
      .attr("x2", 0)
      .attr("y2", 93)
      .attr("stroke-width", 1)
      .attr("stroke-dasharray", "3,3")
      .attr("stroke", colors[5]);

    svg.append("rect")
      .attr("class", "tooltip-prev-date-rect")
      .attr("width", 50)
      .attr("height", 16)
      .style("opacity", 0)
      .attr("fill", "#241C15");

    svg.append("text")
      .attr("class", "tooltip-prev-date axis-text")
      .attr("dx", "-.8em")
      .attr("dy", ".15em")
      .attr("text-anchor", "end")
      .style("opacity", 0)
      .text("Loading");

  var mouseclick = (d,i) => {
    let left_datum = d[0];
    var date_key = d3.timeFormat("%m/%e/%y")(left_datum.date);
    cur_date = (date_key.startsWith("0")) ? date_key.substr(1).replace(" ","") : date_key.replace(" ","");
    update_counties();
    // Hide NaN values to stop errors in transform
    var y_val = 0;
    tooltip
      .attr("transform", (ser) => {
        y_val = y_scale(ser.values[i].value);
        if (!isNaN(ser.values[i].value) &&  !isNaN(y_val)) {
          return "translate(" +x_scale(left_datum.date)+", "+y_val+")";
        } else {
          return "translate(" +x_scale(left_datum.date)+", 0)";
        }
      })
      .style("opacity", (ser) => (isNaN(ser.values[i].value) || isNaN(y_scale(ser.values[i].value))) ? 0.0 : 1.0);
    // Set hover label
    tooltip.select("text")
      .text((ser) => ser.values[i].value.toFixed(0));
    // Get the hover label width to change the card behind it
    var bboxes = tooltip.selectAll("text").nodes().map((nod) => nod.getBBox());
    tooltip.select("rect")
      .attr("width", (ser, i) => bboxes[i].width+6);

    svg.select(".tooltip-vbar")
      .attr("transform", "translate("+(x_scale(left_datum.date))+","+0+")");
    svg.select(".tooltip-date-rect")
      .attr("transform", "translate("+(x_scale(left_datum.date)-50)+","+(height-margin.top+33)+") rotate(-35)")
      .style("opacity", 1);
    svg.select(".tooltip-date")
      .attr("transform", "translate("+(x_scale(left_datum.date)+5)+","+(height-margin.top+8)+") rotate(-35)")
      .text(datetime_to_str(d[0].date))
      .style("opacity", 1);
    // hide the hover on click
    svg.select(".tooltip-prev-vbar")
      .style("opacity", 0);
    svg.select(".tooltip-prev-date-rect")
      .style("opacity", 0);
    svg.select(".tooltip-prev-date")
      .style("opacity", 0);
    // change the date in the title
    d3.select("#county-title").text("GA Positive Daily Cases Over Time on " + datetime_to_str(d[0].date))

  }

  var mousemove_selector = (d,i) => {
    // console.log(d);
    let left_datum = d[0];
    // Hide NaN values to stop errors in transform
    svg.select(".tooltip-prev-vbar")
      .attr("transform", "translate("+(x_scale(left_datum.date))+","+0+")");
    svg.select(".tooltip-prev-date-rect")
      .attr("transform", "translate("+(x_scale(left_datum.date)-50)+","+(height-margin.top+33)+") rotate(-35)");
    svg.select(".tooltip-prev-date")
      .attr("transform", "translate("+(x_scale(left_datum.date)+5)+","+(height-margin.top+8)+") rotate(-35)")
      .text(datetime_to_str(d[0].date));
  }

  var mouseover_selector = (d, i) => {
    svg.select(".tooltip-prev-vbar")
      .style("opacity", .6);
    svg.select(".tooltip-prev-date-rect")
      .style("opacity", 1);
    svg.select(".tooltip-prev-date")
      .style("opacity", .6);
  }

  var mouseout_selector= (d, i) => {
    svg.select(".tooltip-prev-vbar")
      .style("opacity", 0);
    svg.select(".tooltip-prev-date-rect")
      .style("opacity", 0);
    svg.select(".tooltip-prev-date")
      .style("opacity", 0);
  }


  svg.append("g")
    .attr("fill", "none")
    .attr("pointer-events", "all")
  .selectAll("rect")
  .data(d3.pairs(series.series[0].values))
  .join("rect")
    .attr("x", ([a, b]) => x_scale(a.date))
    .attr("height", (d) => height )
    .attr("width", ([a, b]) => x_scale(a.date) - x_scale(b.date))
    .on("click", mouseclick)
    .on("mousemove", mousemove_selector)
    .on("mouseover", mouseover_selector)
    .on("mouseout", mouseout_selector);
}


function update_counties(){
  var svg = d3.select('.centered-svg');
  svg.selectAll(".county-path")
  .data(topojson.feature(topo_json, topo_json.objects.counties).features, (d) => {return d.id})
    .transition()
    .duration(500)
    .attr("fill", d => {
      if (d.id in county_map) {
        return county_colors(county_map[d.id][cur_date]);
      } else {
        return d.id.startsWith("13") ? "#DBD9D2": "#2e2c29";
      }
    })

}


function draw_counties(us, state_prefix) {
  var width = 900,
    height = 800,
    projection = d3.geoAlbersUsa().scale(9000).translate([-1250,-400]);
    // projection = d3.geoAlbersUsa()//.scale(9000).translate([-1250,-400]);

  var path = d3.geoPath()
      .projection(projection);

  var map_div = d3.select("#plotting_div")
    .append("div")
      .attr("class", "plot-container-full");

  var svg = map_div.append("svg")
      .attr("class", "centered-svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .on('mouseout', function(d,i) {
      d3.select(".map-tooltip")
        .style("opacity", 0);
    })

  // GA Counties...
  svg.append("g")
    .selectAll("path")
    // .data(topojson.feature(us, us.objects.counties).features.filter((d) => d.id.startsWith('13')))
    .data(topojson.feature(us, us.objects.counties).features, (d) => {return d.id})
      .join("path")
      .attr("fill", d => {
        if (d.id in county_map) {
          return county_colors(county_map[d.id][cur_date]);
        } else {
          return d.id.startsWith("13") ? "#DBD9D2": "#2e2c29";
        }
      })
      .attr("class", "county-path")
      .attr("stroke", "#241C15")
      .attr("d", (d) => path(d.geometry))
      .on('mouseover', function(d,i) {
        // Highlight county
        d3.select(this)
          .attr("stroke-width", 2)
          .attr("stroke", colors[0])
          .raise();
        // Tooltip stuff
        if (d.id in county_map) {
          var centroid = path.centroid(d);
          let tooly_cooly = d3.select(".map-tooltip");
          // Set new values first before resize/showing
          tooly_cooly.select(".map-tooltip-county")
            .text(d.properties.name);
          tooly_cooly.select(".map-tooltip-date")
            .text(cur_date);
          tooly_cooly.select(".map-tooltip-count")
            .text(county_map[d.id][cur_date]);
          // Calc new sizes
          var max_bbox = Math.max(...tooly_cooly.selectAll("text").nodes().map((nod) => nod.getBBox().width)) + 20;
          tooly_cooly
            .style("opacity", 1)
            .attr("transform", "translate("+centroid[0]+","+centroid[1]+")");
          tooly_cooly.select("rect")
            .attr("width", max_bbox);
        }
      })
      .on('mouseout', function(d,i) {
        d3.select(this)
          .attr("stroke", "#241C15")
          .attr("stroke-width", 1)
          .raise();
        });

  // white lines
  svg.append("path")
    .datum(topojson.mesh(us, us.objects.states, (a, b) => a !== b))
    .attr("fill", "none")
    .attr("stroke-width", "2px")
    .attr("stroke", "white")
    .attr("stroke-linejoin", "round")
    .attr("pointer-events", "none")
    .attr("d", path);

  ////// Title
  svg.append("rect")
    .attr("width", 400)
    .attr("height", 30)
    .attr("fill", "#241C15")
    .attr("pointer-events", "none")
    .style("opacity", 0.9)

  svg.append("text")
    .attr("class", "title-text")
    .attr("id", "county-title")
    .attr("y", 10)
    .attr("dy", "0.5em")
    .attr("pointer-events", "none")
    .text("GA Positive Daily Cases Over Time on 04/20")

  ////// legend
  let num_segs = 20,
      rect_height = Math.floor((height + margin.top)/num_segs),
      rect_width = 30;
  let legend_range = d3.range(0, max_positive, Math.floor(max_positive/num_segs)).reverse();

  svg.append("rect")
    .attr("x", width+margin.left+margin.right-185)
    .attr("width", 185)
    .attr("height", height+margin.left+margin.right)
    .attr("fill", "#241C15")
    .style("opacity", 0.9)

  svg.append("text")
    .attr("class", "title-text")
    .attr("x", width+margin.left+margin.right-178)
    .attr("y", rect_height/2)
    .attr("dy", "0.5em")
    .text("Positive Daily Cases")

  var legendo = svg.selectAll("legend_rect")
    .data(legend_range)
    .enter()
    .append("g")
    .attr("transform", (d,i) => "translate("+(width+margin.left+margin.right-109)+","+((i+1)*rect_height)+")")

  legendo.append("rect")
    .attr("width", rect_width)
    .attr("height", rect_height)
    .attr("fill", (d,i) => county_colors(d))

  legendo.append("text")
    .attr("class", "axis-text")
    .attr("dy", "0.5em")
    .attr("x", rect_width*1.3)
    .attr("y", rect_height/2)
    .text((d) => d)

  ////// Tooltip
  let tt_rect_start = 20,
      tt_rect_height = 90,
      tt_rect_pad = 14;

  var tooly_cooly = svg.append("g")
    .attr("class", "map-tooltip")
    .attr("pointer-events", "none")
    .style("opacity", 0);

  tooly_cooly.append("polygon")
    .attr("points", "0,0 21,-5 21,5")
    .attr("fill", "#4a433f")

  tooly_cooly.append("rect")
    .attr("width", 100)
    .attr("height", tt_rect_height)
    .attr("x", tt_rect_start)
    .attr("y", -tt_rect_height/2)
    .attr("fill", "#4a433f")

  tooly_cooly.append("text")
    .attr("class", "map-tooltip-county")
    .attr("x", tt_rect_start+10)
    .attr("y", -tt_rect_height/2 + tt_rect_pad)
    .attr("dy", "0.5em")
    .text("Loading");

  tooly_cooly.append("text")
    .attr("class", "map-tooltip-date")
    .attr("x", tt_rect_start+10)
    .attr("y", -tt_rect_height/2 + tt_rect_height/3 + tt_rect_pad)
    .attr("dy", "0.5em")
    .text("Loading");

  tooly_cooly.append("text")
    .attr("class", "map-tooltip-count")
    .attr("x", tt_rect_start+10)
    .attr("y", -tt_rect_height/2 + tt_rect_height*2/3 + tt_rect_pad)
    .attr("dy", "0.5em")
    .text("Loading");


  ////// Date range slider
  let just_pos = {"title": "",
                   "log_y":false,
                   "series":[{"name":"Positive",
                              "location":"ga",
                              "color":5,
                              "values": vis_data["ga"].map((d) => { return { "date":d.date, "value":d.positive}; }),
                              "desc":"Positive Cases"}]}
  draw_control_plot(just_pos, d3.select('.plot-container-full'), 100, width, margin);
}




/////////////////////////// Draw all the things!
draw_header(vis_data);
// Here I riff on the full data to make some individual plots
full_series = [ {"title": "GA: Positive, Negative, Tested",
                 "log_y":false,
                 "series":[{"name":"Positive",
                            "location":"ga",
                            "color":5,
                            "values": vis_data["ga"].map((d) => { return { "date":d.date, "value":d.positive}; }),
                            "desc":"Positive Cases"},
                          {"name":"Negative",
                           "location":"ga",
                           "color":1,
                           "values": vis_data["ga"].map((d) => { return { "date":d.date, "value":d.negative}; }),
                           "desc":"Negative Cases"},
                          {"name":"Tested",
                           "location":"ga",
                           "color":2,
                           "values": vis_data["ga"].map((d) => { return { "date":d.date, "value":d.tested}; }),
                           "desc":"People Tested"}]},
                {"title": "US Positive, GA Positive ",
                "log_y":false,
                 "series":[{"name":"Positive (US)",
                            "location":"us",
                            "color":0,
                            "values": vis_data["us"].map((d) => { return { "date":d.date, "value":d.positive}; }),
                            "desc":"Positive Cases (US)"},
                            {"name":"Positive (GA)",
                            "location":"ga",
                            "color":5,
                            "values": vis_data["ga"].map((d) => { return { "date":d.date, "value":d.positive}; }),
                            "desc":"Positive Cases"}]},
                {"title": "GA: Positive, Death",
                "log_y":false,
                 "series":[{"name":"Positive",
                            "location":"ga",
                            "color":5,
                            "values": vis_data["ga"].map((d) => { return { "date":d.date, "value":d.positive}; }),
                            "desc":"Positive Cases"},
                           {"name":"Deaths",
                            "location":"ga",
                            "color":4,
                            "values": vis_data["ga"].map((d) => { return { "date":d.date, "value":d.death}; }),
                            "desc":"Deaths"},]},
                {"title": "Change in Daily Positive Cases US vs GA ",
                "log_y":false,
                 "series":[{"name":"dPos/dt (US)",
                            "location":"us",
                            "color":0,
                            "values": vis_data["us"].map((d) => { return { "date":d.date, "value":d.positive_diff}; }),
                            "desc":"Daily change in US positive cases"},
                           {"name":"",
                            "location":"us",
                            "color":0,
                            "stroke-dasharray": "5,5",
                            "opacity": .6,
                            "values": vis_data["us"].map((d) => { return { "date":d.date, "value":d.positive_diff_ma}; }),
                            "desc":"3-day Moving Average Daily change in US pos"},
                           {"name":"dPos/dt (GA)",
                            "location":"ga",
                            "color":5,
                            "values": vis_data["ga"].map((d) => { return { "date":d.date, "value":d.positive_diff}; }),
                            "desc":"Daily change in GA positive cases"},
                           {"name":"",
                            "location":"ga",
                            "color":5,
                            "stroke-dasharray": "5,5",
                            "opacity": .6,
                            "values": vis_data["ga"].map((d) => { return { "date":d.date, "value":d.positive_diff_ma}; }),
                            "desc":"3-day Moving Average Daily change in GA pos"}]},
];
full_series.forEach((ser) => draw_series_plot(ser, undefined, height, width, margin));



let state_prefix = "13"
draw_counties(topo_json, state_prefix);


</script>
  <div class="info-note"> Data from:
    <a class="less-ugly-link" href="https://dph.georgia.gov/.com/"> GA Department of Public Health </a>
  </div>
  <div class="info-note"> Data from:
    <a class="less-ugly-link" href="https://www.covidtracking.com/"> Covid Tracking </a>
  </div>
  <div class="info-note"> US population estimated from
    <a class="less-ugly-link" href="https://www.worldometers.info/"> Worldmeter"s Projection </a>
  </div>
  <div class="info-note"> GA population estimated from
    <a class="less-ugly-link" href="https://www.census.gov/quickfacts/GA"> Census.gov </a>
  </div>
  <div class="info-note"> Code/contact via github:
    <a class="less-ugly-link" href="https://github.com/pientars/gac19"> github.com/pientars/gac19 </a>
  </div>
</body>
</html>
