<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
<head>
  <meta charset="utf-8">
  <style> /* set the CSS */
    body {
      font: 15px "Open Sans", sans-serif;
      background-color: #241C15;
    }
    .info-note {
      font-size: 10px;
      color: #DBD9D2;
    }
    .header-div {
      display: flex;
      align-items:center;
    }
    .plot-container {
      display: inline;
    }
    .axis-text {
      font: 14px "Open Sans", sans-serif;
      fill: #DBD9D2;
    }
    .axis-text-vert {
      font: 14px "Open Sans", sans-serif;
      fill: #DBD9D2;
      cursor: pointer;
    }
    .title {
      display:inline;
      font: 29px "Open Sans", sans-serif;
      font-weight: 700;
      color: #E7B75F;
      margin-left: 10px;
    }
    .title-text {
      fill: #F6F6F4;
      font-size: 20px;
    }
    .axis-light line, .axis-light path{
      stroke: #8C8C8C;
      cursor: pointer;

    }
    .axis-vert line, .axis-vert path{
      stroke: #8C8C8C;
    }
    .legend {
      fill: #DBD9D2;
    }

  </style>

</head>
<body>
<div class="header-div">
  <img style="vertical-align:middle" src="{{url_for('static', filename='ga.png')}}">
  <span class="title"> Dirty South Rona Stats </span>
</div>


<div id='my_dataviz'></div>
<script src="https://d3js.org/topojson.v3.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script>
var vis_data =  JSON.parse('{{ vis_data | tojson }}');
var topo_json =  JSON.parse('{{ topo_json | tojson }}');

locations = ['us', 'ga'];

// Turn date strings into dates
locations.forEach( function(location, i){
  vis_data[location].forEach( function(d, i){
    Object.keys(d).forEach(function(key) {
      if (key == 'date'){
        d.date = d3.timeParse("%Y%m%d")(d.date);
      } else {
        // This is done to convert NaN's from a str to JS numeric NaN
        d[key] = +d[key]
      }
    });
  });
});

console.log(vis_data);
// console.log(topo_json);


// set the dimensions and margins of the graph
var margin = {top: 20, right:100, bottom: 40, left: 60},
    width = 900 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

let colors = ['#a6cee3', '#1f78b4', '#b2df8a', '#33a02c'];

function draw_series_plot(series){
  // append the svg object to the body of the page
  var svg = d3.select("#my_dataviz")
    .append("div")
      .attr("class", "plot-container")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  // find the start date
  // find_first_nonzero_date(vis_data, series);
  // console.log(series);

  // title
  svg.append("text")
    .attr("class", "title-text")
    .attr("x", 12)
    .attr("y", 0)
    .attr("text-anchor", "left")
    .text(series.title);

  // x format time scale with dates from US which has the earliest cases overall
  var x_scale = d3.scaleTime()
    .domain(d3.extent(vis_data['us'], function(d) { return d.date; }))
    .range([ 0, width ]);

  // x axis
  var x_axis = d3.axisBottom(x_scale)
                 .tickFormat(d3.timeFormat("%m-%d"));

  svg.append("g")
    .attr("class", "axis-light")
    .attr("transform", "translate(0," + (height-margin.top) + ")")
    .call(x_axis)
    .selectAll("text")
      .style("text-anchor", "end")
      .attr("class", "axis-text")
      .attr("dx", "-.8em")
      .attr("dy", ".15em")
      .attr("transform", "rotate(-35)");

  // Y values Get max across all series, ooof ugly
  let y_max = Math.max(...series.series.map(function(ser) {
    return  d3.max( vis_data[ser.location], (d) => isNaN(d[ser.vals_key]) ? -1 : +d[ser.vals_key] );
  }));

  // Add Y axis
  var y_scale = d3.scaleLinear()
    .domain([0, y_max])
    .range([ height-margin.top, 0 ]);

  var y_axis = d3.axisLeft()
    .scale(y_scale)
    .ticks(10, "~s");

  var y_axis_g = svg.append("g")
    .attr("class", "axis-light y")
    .call(y_axis)

  y_axis_g.selectAll("text")
    .attr("class", "axis-text-vert");

  y_axis_g.on("click", function() {
    if (series.log_y) {
      y_scale = d3.scaleLinear()
        .domain([0, y_max])
        .range([ height-margin.top, 0 ]);
      series.log_y = false;
    } else {
      y_scale = d3.scaleLog()
        .domain([1, y_max])
        .range([ height-margin.top, 1 ])
      series.log_y = true;
    }

    // Reset scale
    y_axis.scale(y_scale)
      .ticks(6, "~s")
    y_axis_g
     	.transition()
        .duration(500)
     	.call(y_axis)
      .selectAll("text")
        .attr("class", "axis-text");

    // Redraw our series
    series.series.forEach( function (ser, i) {
      // positives line
      svg.selectAll(".line"+i)
        .transition()
          .duration(500)
        .attr("d", d3.line()
          .defined(d => !isNaN(d[ser.vals_key]) && d[ser.vals_key] > 0)
          .x(function(d) { return x_scale(d.date) })
          .y(function(d) { return y_scale(d[ser.vals_key])  }) )
      // positives text
      svg.selectAll(".ptext"+i)
        .transition()
          .duration(500)
        .attr("transform", "translate(" + (width+5) + "," + y_scale(vis_data[ser['location']][0][ser.vals_key]) + ")")
    });
  });

  // Legendo
  let legend_pos = [20, 20];
  let legend_y_off = 20;
  var legend = svg.append("g").attr("class", "legend")

  series.series.forEach( function (ser, i) {
    // positives line
    svg.append("path")
      .attr("class", "plot-line line"+i)
      .datum(vis_data[ser['location']])
      .attr("fill", "none")
      .attr("stroke", colors[i])
      .attr("stroke-width", 1.5)
      .attr("d", d3.line()
        .defined(d => !isNaN(d[ser.vals_key]) && d[ser.vals_key] > 0  )
          .x(function(d) { return x_scale(d.date) })
          .y(function(d) { return y_scale(d[ser.vals_key])  }) )

    // positives text
    svg.append("text")
      .attr("class", "plot-text ptext"+i)
    	.attr("transform", "translate(" + (width+5) + "," + y_scale(vis_data[ser['location']][0][ser.vals_key]) + ")")
      .attr("alignment-baseline","middle")
      .attr("fill", colors[i])
      .text(ser.name)

    // legend dot, text
    legend.append("circle")
      .attr("cx", legend_pos[0])
      .attr("cy",legend_pos[1]+legend_y_off*i-2)
      .attr("r", 6)
      .style("fill", colors[i])
    legend.append("text")
      .attr("x", legend_pos[0]+15)
      .attr("y",legend_pos[1]+legend_y_off*i)
      .attr("alignment-baseline","middle")
      .text(ser.desc)
  });

  // Mouse hover lines and events
  // mouse_hover(svg);
}


full_series = [ {'title': 'GA: Positive, Negative, Tested',
                 'log_y':false,
                 'series':[{'name':'Positive', location:'ga', vals_key:'positive', 'desc':'Positive Cases'},
                          {'name':'Negative', location:'ga', vals_key:'negative', 'desc':'Negative Cases'},
                          {'name':'Tested', location:'ga', vals_key:'tested', 'desc':'People Tested'}]},
// ]
                {'title': 'US Positive, GA Positive ',
                'log_y':false,
                 'series':[{'name':'US Positive', location:'us', vals_key:'positive', 'desc':'Positive Cases (US)'},
                           {'name':'GA Positive', location:'ga', vals_key:'positive', 'desc':'Negative Cases (GA)'}]},
                {'title': 'GA: Positive, Death ',
                'log_y':false,
                 'series':[{'name':'Positive', location:'ga', vals_key:'positive', 'desc':'Positive Cases'},
                           {'name':'Death', location:'ga', vals_key:'death', 'desc':'Deaths'}]},
                {'title': 'Change in Daily Positive Cases US vs GA ',
                'log_y':false,
                 'series':[{'name':'dPos/dt (US)', location:'us', vals_key:'positive_diff', 'desc':'Daily change in US positive cases'},
                           {'name':'dPos/dt (GA)', location:'ga', vals_key:'positive_diff', 'desc':'Daily change in GA positive cases'}]},
];
full_series.forEach(function(ser) { draw_series_plot(ser) });


function mouse_hover(svg, vis_data, series) {
  var mouseG = svg.append("g")
    .attr("class", "mouse-over-effects");

  mouseG.append("path") // this is the black vertical line to follow mouse
    .attr("class", "mouse-line")
    .style("stroke", "white")
    .style("stroke-width", "1px")
    .style("opacity", "0.8");

  var lines = document.getElementsByClassName('line');

  var mousePerLine = mouseG.selectAll('.mouse-per-line')
    .data(vis_data)
    .enter()
    .append("g")
    .attr("class", "mouse-per-line");

  // mousePerLine.append("circle")
  //   .attr("r", 7)
  //   .style("stroke", function(d) {
  //     return color(d.name);
  //   })
  //   .style("fill", "none")
  //   .style("stroke-width", "1px")
  //   .style("opacity", "0");
  //
  // mousePerLine.append("text")
  //   .attr("transform", "translate(10,3)");

  mouseG.append('svg:rect') // append a rect to catch mouse movements on canvas
    .attr('width', width) // can't catch mouse events on a g element
    .attr('height', height)
    .attr('fill', 'none')
    .attr('pointer-events', 'all')
    .on('mouseout', function() { // on mouse out hide line, circles and text
      d3.select(".mouse-line")
        .style("opacity", "0");
      d3.selectAll(".mouse-per-line circle")
        .style("opacity", "0");
      d3.selectAll(".mouse-per-line text")
        .style("opacity", "0");
    })
    .on('mouseover', function() { // on mouse in show line, circles and text
      d3.select(".mouse-line")
        .style("opacity", "1");
      d3.selectAll(".mouse-per-line circle")
        .style("opacity", "1");
      d3.selectAll(".mouse-per-line text")
        .style("opacity", "1");
    })
    .on('mousemove', function() { // mouse moving over canvas
      var mouse = d3.mouse(this);
      d3.select(".mouse-line")
        .attr("d", function() {
          var d = "M" + mouse[0] + "," + height;
          d += " " + mouse[0] + "," + 0;
          return d;
        });

      d3.selectAll(".mouse-per-line")
        .attr("transform", function(d, i) {
          console.log(width/mouse[0])
          var xDate = x.invert(mouse[0]),
              bisect = d3.bisector(function(d) { return d.date; }).right;
              idx = bisect(d.values, xDate);

          var beginning = 0,
              end = lines[i].getTotalLength(),
              target = null;

          while (true){
            target = Math.floor((beginning + end) / 2);
            pos = lines[i].getPointAtLength(target);
            if ((target === end || target === beginning) && pos.x !== mouse[0]) {
                break;
            }
            if (pos.x > mouse[0])      end = target;
            else if (pos.x < mouse[0]) beginning = target;
            else break; //position found
          }

          d3.select(this).select('text')
            .text(y.invert(pos.y).toFixed(2));

          return "translate(" + mouse[0] + "," + pos.y +")";
        });
    }); //mousemove

}
function find_first_nonzero_date(vis_data, series){
    series.series.forEach( function (ser, i) {
      var index = vis_data.findIndex(val => val[ser.vals_key] < 1)
      ser['nonzero_date'] = index;
    })
}








function draw_counties(us, state_prefix) {
  var width = 900,
    height = 800;

  projection = d3.geoAlbersUsa().scale(9000).translate([-1150,-400])

  var path = d3.geoPath()
      .projection(projection);

  var svg = d3.select("#my_dataviz")
    .append("div")
      .attr("class", "plot-container")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)

  // Counties...
  svg.append("g")
    .selectAll("path")
    .data(topojson.feature(us, us.objects.counties).features)
      .join("path")
      .attr("fill", d => d.id.startsWith('13') ? "#DBD9D2": "#403B3B")
      .attr("d", path);

  // black county lines
  svg.append("path")
    .datum(topojson.mesh(us, us.objects.counties, (a, b) => a !== b))
    .attr("fill", "none")
    .attr("stroke", "#241C15")
    .attr("stroke-linejoin", "round")
    .attr("d", path);

  // white lines
  svg.append("path")
    .datum(topojson.mesh(us, us.objects.states, (a, b) => a !== b))
    .attr("fill", "none")
    .attr("stroke-width", "2px")
    .attr("stroke", "white")
    .attr("stroke-linejoin", "round")
    .attr("d", path);
}

let state_prefix = '13'
// draw_counties(topo_json, state_prefix);




</script>

<div class="info-note"> US population estimated from https://www.worldometers.info/</div>
<div class="info-note"> GA population estimated from https://www.census.gov/quickfacts/GA</div>
</body>
</html>
